<<<<<<< HEAD
=======

>>>>>>> 646694ad9f03ed48372f882e31ff8d94c84e73d9
$nudePink: #e9c5c7;
$darkPink: #883f4f;
$withePink: #faebe5;
$white: #f7ece8;
<<<<<<< HEAD
$gradient: linear-gradient(0deg, rgba(233,197,199,1) 50%, rgba(136,63,79,1) 100%);

body{
    
    background:$gradient ;
    font-family: 'Arima Madurai';
}
=======

body{
    
    background-color:$nudePink;
    font-family: 'Arima Madurai';

}
>>>>>>> 646694ad9f03ed48372f882e31ff8d94c84e73d9
