<<<<<<< HEAD
=======

>>>>>>> 646694ad9f03ed48372f882e31ff8d94c84e73d9
$nudePink: #e9c5c7;
$darkPink: #883f4f;
$withePink: #faebe5;
$white: #f7ece8;

<<<<<<< HEAD

#header{
    cursor: pointer;
}

.text{
    text-align: justify;
}

=======
>>>>>>> 646694ad9f03ed48372f882e31ff8d94c84e73d9
#dropdown-basic-button{
    background-color: $darkPink;
     color: $withePink;
 }

.border-card{
    border: 3px solid $nudePink;
<<<<<<< HEAD
}
=======
}
>>>>>>> 646694ad9f03ed48372f882e31ff8d94c84e73d9
